# ***Reformatting Dataset***

Import Packages

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("train_data.csv")
data.head(16)

,Game ID,Puzzle Date,Word,Group Name,Group Level,Starting Row,Starting Column
0,1,2023-06-12,SNOW,WET WEATHER,0,1,1
1,1,2023-06-12,LEVEL,PALINDROMES,3,1,2
2,1,2023-06-12,SHIFT,KEYBOARD KEYS,2,1,3
3,1,2023-06-12,KAYAK,PALINDROMES,3,1,4
4,1,2023-06-12,HEAT,NBA TEAMS,1,2,1
5,1,2023-06-12,TAB,KEYBOARD KEYS,2,2,2
6,1,2023-06-12,BUCKS,NBA TEAMS,1,2,3
7,1,2023-06-12,RETURN,KEYBOARD KEYS,2,2,4
8,1,2023-06-12,JAZZ,NBA TEAMS,1,3,1
9,1,2023-06-12,HAIL,WET WEATHER,0,3,2
10,1,2023-06-12,OPTION,KEYBOARD KEYS,2,3,3
11,1,2023-06-12,RAIN,WET WEATHER,0,3,4
12,1,2023-06-12,SLEET,WET WEATHER,0,4,1
13,1,2023-06-12,RACECAR,PALINDROMES,3,4,2
14,1,2023-06-12,MOM,PALINDROMES,3,4,3
15,1,2023-06-12,NETS,NBA TEAMS,1,4,4

In [10]:
# Assuming the 'data' is the same as in your example
df = pd.DataFrame(data, columns=['Game ID', 'Word', 'Group Name', 'Group Level', 'Starting Row', 'Starting Column'])

# Function to split words into chunks of 4
def split_into_chunks(words, chunk_size=4):
    # Filter out any chunks that are not full (less than 4 words)
    return [words[i:i + chunk_size] for i in range(0, len(words), chunk_size) if len(words[i:i + chunk_size]) == chunk_size]

# Group words by 'Game ID' and create a list of words
grouped = df.groupby(['Group Name', 'Game ID'])['Word'].apply(list).reset_index()

# Apply the function to split the words into chunks
grouped['Words'] = grouped['Word'].apply(lambda x: split_into_chunks(x))

# Flatten the grouped 'Words' column
expanded_rows = []
for _, row in grouped.iterrows():
    for words in row['Words']:
        expanded_rows.append([row['Game ID']] + words)

# Convert expanded rows to a DataFrame
expanded_df = pd.DataFrame(expanded_rows, columns=['Game ID', 'word1', 'word2', 'word3', 'word4'])

# Function to check for spaces in words and filter out groups with spaces
def drop_groups_with_spaces(df):
    # Ensure there are no NaN values and treat them as empty strings
    df = df.fillna('')  # Replace NaN with empty string
    
    # Filter rows where none of the words contain spaces
    df['has_space'] = df[['word1', 'word2', 'word3', 'word4']].apply(lambda row: any(' ' in word for word in row), axis=1)
    
    # Drop rows where any word in the group contains a space
    df_cleaned = df[~df['has_space']].drop(columns='has_space')
    return df_cleaned

# Apply the function to drop groups with spaces
expanded_df_cleaned = drop_groups_with_spaces(expanded_df)

# Split the Game IDs into train and test
groups = expanded_df_cleaned['Game ID'].unique()

split_index = int(len(groups) * 0.8)

# Split the Game IDs into train and test
train_game_ids = groups[:split_index]  # First 80% of Game IDs
test_game_ids = groups[split_index:]   # Remaining 20% of Game IDs

# Filter the expanded_df_cleaned to get the rows for train and test
train_data = expanded_df_cleaned[expanded_df_cleaned['Game ID'].isin(train_game_ids)]
test_data = expanded_df_cleaned[expanded_df_cleaned['Game ID'].isin(test_game_ids)]

# Ensure that train data is divisible by 4
train_data = train_data.iloc[:len(train_data) - (len(train_data) % 4)]  # Truncate to a multiple of 4

# Save to CSV
train_data.to_csv("trainData2.csv", index=False)
test_data.to_csv("testData2.csv", index=False)

# Display the test data
print(test_data)

      Game ID     word1  word2   word3     word4
704       111      WOOD   IRON   WEDGE    PUTTER
705       185     ROUGH  GREEN  BUNKER   FAIRWAY
711       311   GROUNDS  GREEN    LAWN     FIELD
715        62        NU     PI      XI        MU
718       406  ELECTRIC    GAS    WOOD  CHARCOAL
...       ...       ...    ...     ...       ...
2051       21        JO    MEG    BETH       AMY
2056      224      RATS  SHOOT    DARN    CURSES
2060      404     QUIET   EASY  ENOUGH     RELAX
2065      157        SI     DA      JA       HAI
2066      185     TOUGH  DOUGH   COUGH     BOUGH

[386 rows x 5 columns]

In [11]:
df = df[df['Game ID'].isin(expanded_df_cleaned['Game ID'].unique())]
print(df['Game ID'].unique())
print(expanded_df_cleaned['Game ID'].unique())
df.to_csv("Training2.csv")

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55
  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73
  74  75  76  77  79  80  81  82  83  84  85  86  87  88  89  90  91  92
  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110
 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128
 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146
 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164
 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 189
 187 188 185 184 183 186 182 190 191 192 193 194 195 196 197 198 199 200
 201 202 203 204 205 206 208 209 210 213 212 214 215 216 217 218 222 220
 221 219 223 224 225 226 227 228 229 230 231 233 234 235 236 239 238 240
 241 242 243 256 249 248 253 244 255 251 252 250 254 258 245 257 265 247
 259 266 264 260 267 261 262 271 268 263 270 269 272 273 274 275 276 282
 279 284 283 281 277 285 280 278 286 287 288 289 290 291 292 293 294 295
 296 297 304 301 307 305 302 303 298 310 309 308 300 311 312 313 299 314
 321 323 318 319 320 316 317 324 326 325 330 328 327 329 341 333 332 334
 340 335 354 352 350 347 348 353 349 355 362 361 360 359 358 357 356 364
 367 366 369 368 365 363 374 375 370 372 371 373 380 382 383 381 388 389
 379 394 377 386 378 391 387 393 396 395 392 398 390 397 404 399 402 401
 400 403 405 406 409 410 408 417 412 407 411 419 416 414 413 415 418 425
 421 422 423 420 428 433 431 429 426 427 430 432 440 443 438 437 436 439
 434 448 447 446 445 444 435 442 441 451 449 457 450 453 456 452 455 459
 462 458 460 461 468 470 469 472 467 473 477 478 476 475 480 479 493 483
 486 481 487 485 484 471 489 494 474 491 492 488 499 495 500 498 497 501
 502 503 496 504 508 507 506 510 482 509 516 513 512 514 515 511 520 521
 522 517 519 518 525 524 527 528 530 529 505 526 531 535 534 537 532 536
 523 533 542 538 539 544 540 541 543 546]
[243 293 262 136  31 320 437 180 480 191 353 132 355 364 508 496 470  51
  86 520 219 324 375 410 434 365 432 356 374 167 280  13  99 436 546 285
 451 216 318  67  91 524 534  83 218  82  44  94 379 541 329 430 113  12
  53 423 135 131 194 399  22  93 268  79 357  25  19 209  48 139  81 290
 486  58 248 164 282  29 401 199 117 261 475 438  77 415 286 275 359 176
 518 530 537 313  61  85 190 172  18 382 205   7 427 225 467 414 284 469
 251 171  38 158 316  45  24 367  90 231 156 197 249 387 441 170 124 250
 291  14 358 453 314 447 390 471 461 269  98  20 482 121  37  73 407  47
 141 521  15  10 200 276 419 448 245 323 497 360 247 215 528 501 129 398
 484 202 168 378 505 450   8  32  76  33 255 511 366 297 159 182 192 239
 177 439  41  96 101 277 420 529 516 459 300  66 304 106 308 527 228 294
 133 254 253 150 515 125 383 179 519 288  57 455 108 514 507 166 154 489
 468 431 169 298  54 488 340 443 328 119  59 134 498 411 412 495 289 271
 533  97 472  87  36 347 115 416 162 174 500  56 458  64 241 204 393 460
  71  55  65 214   4 349   5  46 112  16 272 310 217 223 266 418 187 242
 258 540 380 377 335 371 504  52 509 123 279 122 425 368 175 352 405 100
 494 348 487 354 476  69 208 201  95 165  40 444 244 440 236 493 120 148
 183 543 196 535 163 127 525 160 221 292 104 503 474 473  50 350 396 227
 363  17 408 149 333 506  49 263 309 402 116 235   3 283 462  39 389 395
 373 361 317  75 538 257 481 433  80 252 238 539 256  26 531 137 341 303
 296 422 270 143  74  68 421 128 130 229 287 186 362 312  63 240 332 394
  84 267  89 544  28 299 153 369 452 409 142 188 370 502 281 307 429 278
   2 491 178 526 381 107 413 155 295 428 492 392 140 400 319 111 185 311
  62 406 542 388 372  92 102 203  70 181  27 479 206 234 334 146 157 386
  60 397 110 233 477 144 230 426 532 483 403   9 152 118  30 189   1 456
 213 449 522 499 478 325 305 536 301 173 105 512 330 224 274 222 109  21
 220 195 273 147 212 114  35 103  88 435  34 260  43   6 265 138 404 302
 210 327 391 145 457 442 161 513 198 226  72 184 259 264 126  42 510 485
 417 517 326 193  11 523 321 445 446 151]