# ***Reformatting Dataset***

Import Packages

In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("train_data.csv")
data.head(16)

,Game ID,Puzzle Date,Word,Group Name,Group Level,Starting Row,Starting Column
0,1,2023-06-12,SNOW,WET WEATHER,0,1,1
1,1,2023-06-12,LEVEL,PALINDROMES,3,1,2
2,1,2023-06-12,SHIFT,KEYBOARD KEYS,2,1,3
3,1,2023-06-12,KAYAK,PALINDROMES,3,1,4
4,1,2023-06-12,HEAT,NBA TEAMS,1,2,1
5,1,2023-06-12,TAB,KEYBOARD KEYS,2,2,2
6,1,2023-06-12,BUCKS,NBA TEAMS,1,2,3
7,1,2023-06-12,RETURN,KEYBOARD KEYS,2,2,4
8,1,2023-06-12,JAZZ,NBA TEAMS,1,3,1
9,1,2023-06-12,HAIL,WET WEATHER,0,3,2
10,1,2023-06-12,OPTION,KEYBOARD KEYS,2,3,3
11,1,2023-06-12,RAIN,WET WEATHER,0,3,4
12,1,2023-06-12,SLEET,WET WEATHER,0,4,1
13,1,2023-06-12,RACECAR,PALINDROMES,3,4,2
14,1,2023-06-12,MOM,PALINDROMES,3,4,3
15,1,2023-06-12,NETS,NBA TEAMS,1,4,4

In [ ]:
df = pd.DataFrame(data, columns=['Game ID', 'Word', 'Group Name', 'Group Level', 'Starting Row', 'Starting Column'])

# Group words by 'Game ID' and create a list of words
grouped = df.groupby('Game ID')['Word'].apply(list).reset_index()

# Function to split words into chunks of 4
def split_into_chunks(words, chunk_size=4):
    return [words[i:i + chunk_size] for i in range(0, len(words), chunk_size)]

# Apply the function to split the words into chunks
grouped['Words'] = grouped['Word'].apply(lambda x: split_into_chunks(x))

# Flatten the grouped 'Words' column
expanded_rows = []
for _, row in grouped.iterrows():
    for words in row['Words']:
        expanded_rows.append([row['Game ID']] + words)

# Convert expanded rows to a DataFrame
expanded_df = pd.DataFrame(expanded_rows, columns=['Game ID', 'word1', 'word2', 'word3', 'word4'])

# Display the final DataFrame

groups = expanded_df['Game ID'].unique()



expanded_df.to_csv("data.csv")

print(expanded_df)

      Game ID    word1    word2     word3   word4
0           1     SNOW    LEVEL     SHIFT   KAYAK
1           1     HEAT      TAB     BUCKS  RETURN
2           1     JAZZ     HAIL    OPTION    RAIN
3           1    SLEET  RACECAR       MOM    NETS
4           2     PUMP     FOOT      TIME     SEA
...       ...      ...      ...       ...     ...
2063      544      NUT   DRAGON    FLEECE    OGRE
2064      546   THRONE    SHRED    GNARLY  POWDER
2065      546  RADICAL     BATH      LICK   POWER
2066      546  TWISTED     ROOT      REST    BENT
2067      546    TRACE   WARPED  EXPONENT   OUNCE

[2068 rows x 5 columns]